<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501068641143-qfmu6trie559qtk4d1cujk1doboc2air.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501068641143-qfmu6trie559qtk4d1cujk1doboc2air</string>
	<key>API_KEY</key>
	<string>AIzaSyB9gLoa7YcN6euWVFE92dVRgbfhfsX4oxs</string>
	<key>GCM_SENDER_ID</key>
	<string>501068641143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aissa.Auto-dz</string>
	<key>PROJECT_ID</key>
	<string>auto-dz</string>
	<key>STORAGE_BUCKET</key>
	<string>auto-dz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501068641143:ios:0654f66e42901a63f8e772</string>
</dict>
</plist>